{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Вход</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form method="POST">
            <label>Логин (email):</label>
            <input type="email" name="login" required>

            <label>Пароль:</label>
            <input type="password" name="password" required>

            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
    </div>


{% endblock %}